.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-note {
    div {
        width: 50px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
   
    & small {
        text-align: center;
    }
}

ion-avatar{
    --border-radius: 0px;
    height: 84.4px;
    width: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
        font-size: 10px;
        margin: 0px;
    }
    & small {
        font-size: 8px;
    }
    & .punto {
        text-align: right;
        padding: 0px;
        margin: 0px;
    }
    & img {
        margin-left: 4px;
        margin-right: 2px;
    }
}

// ion-label{
//     color: red;
//     border-left: 1px solid grey;
// }