<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="eventos">

    <ion-item lines="none"  *ngFor="let i of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">

      <time datetime="2011-11-18T14:54:39.929"> <small>14:55 <br> 18/15/25</small></time>
      <span><strong>Bat &amp; Ball</strong> On time</span>
      <!-- <ion-label>i.name}}</ion-label>
      <ion-label>i.name}}</ion-label> -->
      
    </ion-item>

  </ion-list>
</ion-content>